@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared-style */
.display {
  display: flex;
}
/* Dark 02 */
.text-gray {
  color: #424242;
}
.text-light-gray {
  color: #727272;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.text-primary {
  color: rgb(255, 144, 14);
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 130px;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}
/* /* shared-style */

.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-size: 3rem;
  font-weight: bold;
}
.nav-link {
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  color: rgb(66, 66, 66);
  font-size: 18px;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
.banner-content {
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-titile {
  font-weight: 700;
  font-size: 4rem;
  color: rgb(19, 19, 19);
}
.banner-description {
  font-size: 1rem;
  color: rgb(114, 114, 114);
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  margin-bottom: 32px;
}
.btn-primary {
  border-radius: 8px;
  background: rgb(255, 144, 14);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  padding: 20px 25px;
  border: none;
  /* margin-bottom: 50px; */
}
.banner-image {
  width: 100%;
}

/* =-=-=-=-=Features-section=-=-== */
.features {
  gap: 146px;
}
#fuatures-section-titile {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.features-card {
  padding: 30px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.features-card .features-titile {
  font-weight: 600;
  font-size: 1.25rem;
}
.features-archkituck img {
  width: 100%;
}
#Experience-badge {
  padding: 45px 42px;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: -100px;
  margin-left: -100px;
}
#Experience-year {
  font-size: 4rem;
  font-weight: 700;
}

/* =-=-=-=-teams-section=-=-=-=-= */

.teams {
  align-items: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-futures {
  margin-left: 73px;
  max-width: 530px;
}
#quick-list {
  font-weight: 500;
}

.futures-description {
  margin-top: 24px;
  margin-bottom: 32px;
}
/* =-=-=-Fact-card=-=-=-=- */
.Facts-contaoner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.fact-card {
  border: 1px solid rgb(255, 144, 14);
  width: 240px;
  height: 240px;
  text-align: center;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}
.fact-number {
  font-size: 2.8rem;
  color: rgb(66, 66, 66);
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
  color: rgb(114, 114, 114);
}
.fact-description {
  max-width: 540px;
  margin-top: 32px;
  margin-bottom: 100px;
}

/* =-=-=-=-=-Sponsors-Related Styles=-=-=-= */

.sponsor-info {
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}
.sponsors-company {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsors-company img {
  filter: grayscale(100%);
}
/* =-=-=-=-Footer=-=-=-=-=- */
.footer {
  max-width: 70%;
  margin: 0 auto;
  border-radius: 8px;
  margin-top: 140px;
}

.container {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 30px 40px;
}

/* =-=-=-=-Reponsive=-=- */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-link,
  .teams,
  .features {
    flex-direction: column;
  }
  .team-img-container,
  .Facts-contaoner,
  .sponsors-company {
    grid-template-columns: repeat(1, 1fr);
  }
  #Experience-badge {
    margin: 5px auto;
  }
  .Facts-contaoner {
    justify-content: center;
    gap: 24px;
  }

  .Some-Facts {
    margin-left: 50px;
  }
  .sponsor-info {
    margin: 0 auto;
  }
  .sponsors-company {
    justify-content: center;
    gap: 50px;
    margin-left: 70px;
  }
}

/* =-=-=--=-Medium=-=-=-=- */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams,
  .features {
    flex-direction: column;
  }

  .our-futures {
    margin-left: 50px auto;
  }
  .sponsors-company,
  .Facts-contaoner {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-content: center;
  }
}
